{% extends "user.html" %}

{% block myspace %}
	<div id="content">
    <!-- begin post -->
	    <div class="single">
	    	
	      {% ifequal status|stringformat:"s" "liked" %}
	      	Article already liked
	      {% endifequal %}
	      {% ifequal status|stringformat:"s" "clicked" %}
	      	<a href="/news/like/{{article.0}}/{{username}}">Like</a> or <a href="/news/dislike/{{article.0}}/{{username}}">Dislike</a>
	      {% endifequal %}
	      {% ifequal status|stringformat:"s" "dislike" %}
	      	Article already disliked
	      {% endifequal %}
	      <h2>{% autoescape off %}{{article.1}}{% endautoescape %}</h2>
	      <p><strong>{% autoescape off %}{{article.2}}{% endautoescape %}</strong></p>
	      <p><img class="alignright" src="{{article.7}}" width="200" height="150" alt="" /></p>
	      <p>{% autoescape off %}{{article.4}}{% endautoescape %}</p>
	    </div>
	    <!-- end post -->
  	</div>
{% endblock %}